@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-7">Список дней рождения</h1>
    <p id="log2"></p>

    <table class="table table-striped">
        <thead><tr><th>Фото</th><th>Имя</th><th>День рождения</th><th>Избранное</th><th></th></tr></thead>
        <tbody>
        </tbody>
    </table>
</div>
